.read-more {
  background: var(--primary);
  padding: 1.5rem 0 3rem 0;
  
  .read-more-post {
    background: whitesmoke;
    border: 1px solid var(--secondary);
    padding: 1rem;
    text-decoration: none;

    &:hover {
      color: var(--secondary);
    }

    &__author {
      font-size: var(--font-xs);
      color: var(--gray-500);
    }
  }
}