<article class="[ newsletter ] [ panel ] [ bg-dark-shade color-light ]">
  <div class="wrapper">
    <div class="[ newsletter__inner ] [ flow ]">
      <h2 class="[ newsletter__heading ] [ headline ]">Sign up for updates</h2>
      <p class="[ newsletter__summary ] [ measure-short ]">Stay up to date with updates from Piccalilli. You’ll get alerted as soon as any new content gets published. You’ll also get updates on upcoming courses and membership features! You can unsubscribe at any time, too.</p>
  
      <div class="newsletter__input">
        <label for="email"><small>Your Email Address</small></label>
        <input id="email" type="email" />
      </div>
  
      <p><small>Your email won’t be shared with anyone else. You can unsubcribe at any time. See the <a href="/privacy-policy">privacy policy</a> for more information.</small></p>
    </div>
  </div>
</article>